<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


    <bean id="entityManagerBean" class="ru.sbb.EntityManagerBean">
        <property name="entityManager" ref="entityManagerFactory"/>
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="sbb_unit"/>
    </bean>

    <bean id="passengerDAO" class="ru.sbb.dao.PassengerDAOImpl">
        <!--<property name="entityManager" ref="entityManagerFactory"/>-->
        <property name="entityManager" ref="entityManagerBean"/>
    </bean>

    <bean id="scheduleRecordDAO" class="ru.sbb.dao.ScheduleRecordDAOImpl">
        <!--<property name="entityManager" ref="entityManagerFactory"/>-->
        <property name="entityManager" ref="entityManagerBean"/>
    </bean>

    <bean id="ticketDAO" class="ru.sbb.dao.TicketDAOImpl">
        <!--<property name="entityManager" ref="entityManagerFactory"/>-->
        <property name="entityManager" ref="entityManagerBean"/>
    </bean>

    <bean id="trainDAO" class="ru.sbb.dao.TrainDAOImpl">
        <!--<property name="entityManager" ref="entityManagerFactory"/>-->
        <property name="entityManager" ref="entityManagerBean"/>
    </bean>

    <bean id="stationDAO" class="ru.sbb.dao.StationDAOImpl">
        <!--<property name="entityManager" ref="entityManagerFactory"/>-->
        <property name="entityManager" ref="entityManagerBean"/>
    </bean>

    <bean id="clientService" class="ru.sbb.service.ClientService">
        <property name="ticketDAO" ref="ticketDAO"/>
        <property name="trainDAO" ref="trainDAO"/>
        <property name="scheduleRecordDAO" ref="scheduleRecordDAO"/>
        <property name="passengerDAO" ref="passengerDAO"/>
    </bean>

    <bean id="managerService" class="ru.sbb.service.ManagerService">
        <property name="stationDAO" ref="stationDAO"/>
        <property name="trainDAO" ref="trainDAO"/>
        <property name="scheduleRecordDAO" ref="scheduleRecordDAO"/>
        <property name="passengerDAO" ref="passengerDAO"/>
    </bean>

    <bean id="registrationService" class="ru.sbb.RegistrationService">
        <property name="password" value="1"/>
    </bean>


</beans>